/*-----------------Fonts-----------------*/
@font-face {
  font-family: 'TTNorms-Bold';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('☺'), url('../fonts/TTNorms-Bold.woff') format('woff'), url('../fonts/TTNorms-Bold.ttf') format('truetype'), url('../fonts/TTNorms-Bold.svg') format('svg');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'TTNorms-Italic';
  src: url('../fonts/TTNorms-Italic.eot');
  src: local('☺'), url('../fonts/TTNorms-Italic.woff') format('woff'), url('../fonts/TTNorms-Italic.ttf') format('truetype'), url('../fonts/TTNorms-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TTNorms-Regular';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('☺'), url('../fonts/TTNorms-Regular.woff') format('woff'), url('../fonts/TTNorms-Regular.ttf') format('truetype'), url('../fonts/TTNorms-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


/*-----------------Nulling styles-----------------*/
*,
::before,
::after {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, dlig 0;
}

html,
body,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

ul,
li {
  outline: 0;
  border: 0;
  list-style: none;
}

abbr {
  cursor: help;
  font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, smcp 1, c2sc 1;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

time {
  font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0;
}

small {
  font-weight: 400;
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, dlig 0, sups 1;
}

sub {
  bottom: -0.25em;
  font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, dlig 0, subs 1;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", Consolas", " Courier New", SFMono-Regular, Menlo, Monaco, monospace;

}

button,
form,
input,
optgroup,
select,
textarea {
  outline: 0;
  color: inherit;
  font: inherit;
}

button,
select {
  border: 0;
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

input {
  line-height: normal;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: kern 0, liga 1, calt 1, pnum 1, tnum 0, onum 0, lnum 1, zero 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody,
caption {
  font-feature-settings: kern 1, liga 1, calt 1, pnum 0, tnum 1, onum 0, lnum 1, zero 1;
}

/*-----------------Styles-----------------*/
html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'TTNorms-Regular';
  line-height: 32px;
  font-weight: 400;

  color: #34343F;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1180px;
  margin: 0px auto;
  font-size: 20px
}

[class*="__titleBig"] {
  font-family: "tenor sans";
  font-size: 50px;
  line-height: 58px;
}

[class*="__titleMain"] {
  font-family: 'tenor sans';
  font-size: 40px;
  font-weight: 400;
  line-height: 46.8px;
}

[class*="__titleText"] {
  font-size: 20px;
  line-height: 32px;
  color: #363348;
}

[class*="__titleSubordinate"] {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

[class*="__textMain"] {
  font-size: 18px;
  color: #363348;
}

[class*="__textBold"] {
  font-family: 'TTNorms-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

[class*="__numberOl"] {
  font-family: 'TTNorms-Bold';
  font-size: 16px;
  font-weight: 700;

  color: #CE946B;
}

[class*="__textNote"] {
  font-family: 'TTNorms-Italic';
  font-size: 13px;
  font-style: italic;
  line-height: 14px;
}

[class*="__arc"] {
  position: absolute;
  background-color: transparent;
  border-radius: 50% 50% 50% 50%;
  border-right: 0.8px solid #AEAEAE;
  border-left: 0.8px solid transparent;
  border-bottom: 0.8px solid transparent;
  border-top: 0.8px solid transparent;
  transform: rotate(38deg);
  left: 86%;
  top: -42%;
}

[class*="_Pink"] {
  background-color: #EDD5D0;
}

.beigeText {
  color: #E5B093;
  font-weight: 400;
}

.main_btn {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  background: linear-gradient(314.24deg, #C88C61 25.11%, #EBBE9C 88.64%);

  border-radius: 10px / 90%;
  box-shadow: inset 0px 0px 12px #E5B79A,
    -2px 5px 2px 0px #B98766,
    0px 0px 50px -20px #E5B093;
  transition: 0.5s;
}


.main_btn:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}


.main_btnicon {
  margin-left: 10px;
}

.btn_pink {
  background-color:
    rgba(232, 186, 153, 1);

  border-radius: 6px;
  border: 1.2px solid #CE946B;

  color: #C88C61;

}

.btn_gray {
  background-color: #D8D8D8;

  border-radius: 6px;
  border: 1.2px solid #C8C8C8;

  color: #9F9B9B;
}

.border-main {
  border: 10px solid #ffff;
  box-shadow: 0 10px 15px rgb(212, 212, 212);
  line-height: 0px;
}

/*-----------------Header-----------------*/
.header {
  background-color: #363348;
}

.header__container {
  max-width: 147rem;
  display: flex;
  min-height: 93px;
  align-items: center;
}


.header__logo {
  display: flex;
  align-items: center;
}

.img__logo {
  max-height: 32px;
  max-width: 100px;
}

.logo__line {
  height: 57px;
  opacity: 10.21%;
  margin: 0 25px;
  background-color:
    rgba(255, 255, 255, 1);
  width: 1px;
}

.logo__text {
  font-family: 'TTNorms-Regular';
  font-weight: 400;
  line-height: 15px;

  font-size: 12px;

  color: rgba(255, 255, 255, 0.842);


}

.menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  padding-left: 11.2rem;
}

.menu__item {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 3.1rem;
}

.menu__link {
  color: #ffff;
  position: relative;
}

.menu__link_active {
  color: #E5B093;
}

.menu__link:after {
  z-index: 1;

  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  margin: auto;
  background-color: #E5B093;
  opacity: 0;
  transition: opacity .2s linear;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu__link:hover:after {
  opacity: 1;
}

.header__contact {
  flex: 0 0 499px;
  display: flex;
  justify-content: flex-end;
}

.phoneCall__icon {

  width: 40px;
  max-width: 100px;
  max-height: 35px;
  align-self: flex-end;

}

.phone__call_text {
  display: flex;
  align-self: center;
  font-size: 1.4rem;
  height: 50px;
}

.header__span {
  line-height: 20px;
  color: #ffff;
  align-self: center;

  background: linear-gradient(119deg, #E1B08D, #CC936B);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-bottom: 2px rgb(141, 103, 75);
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;

  transition: 0.5s;
}

.header__span:hover {
  font-size: 15px;
}

.header__intro {
  text-align: center;
  margin-top: 7.2rem;

}

.intro__container {
  height: 68.3rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 161.7rem;
  background: url("../img/header/bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  margin: 0 auto 175px auto;

}

.intro__title {
  font-family: "tenor sans";
  font-size: 5.0rem;
  font-weight: 400;
  padding: 25.9rem 0 0 0;
  line-height: 5.8rem;

  color: #ffff;

}

.btn__intro {
  padding-top: 11.7rem;
}


/*-----------------Description-----------------*/
.description__container {
  margin-bottom: 178px;
  display: flex;
  flex-direction: column;
}

.block__header {
  text-align: center;
}

.description__titleMain {
  max-width: 913px;
  margin: 0 auto 61px auto;
}

.description__titleText {
  max-width: 780px;
  margin: 0 auto 138px auto;
}

.description1__content {
  display: flex;
}

.description1__photo {
  width: 65%;
  position: relative;
  min-height: 508px;
  margin-bottom: 60px;
}

.description1__photo-img1 {
  max-width: 519px;
  max-height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.description1__photo-img1 img {
  max-width: 519px;
  max-height: 378px;
}

.description1__photo-img2 {
  max-width: 327px;
  max-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);

  position: absolute;
  left: 40%;
  bottom: 0;
  right: 0;
  top: 40%;
}

.description1__photo-img2 img {
  max-width: 313px;
  max-height: 226px;
}

.description1__item {
  width: 35%;
}

.descriptio1__titleSubordinate {
  max-width: 327px;
  margin-bottom: 30px;
}

.description1__textMain {
  max-width: 390px;
  margin-bottom: 56px;
}

.description__btn1 {
  width: 334px;
  height: 103px;
}

.description2__content {
  display: flex;
  max-width: 1125px;
  align-self: center;
  position: relative;
}

.description__textNote {
  position: absolute;
  display: inline-block;
  min-width: 104px;
  max-width: 104px;
  top: -30%;
  right: -20%;

}

.description__note__arc {
  height: 150px;
  width: 220px;
}

.description2__content {
  position: relative;
}

.description2__item {
  width: 60%;
}

.description2__titleSubordinate {
  max-width: 327px;
  margin-bottom: 30px;
}

.description2__textMain {
  max-width: 400px;
  margin-bottom: 56px;
}

.description2__btn {
  width: 334px;
  height: 103px;
}

.description2__photo {
  width: 40%;
  position: relative;
}

.description2__photo-img1 {
  max-width: 496px;
  min-height: 358px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.description2__photo-img1 img {
  max-width: 496px;
  min-height: 358px;

}

.description2__photo-img2 {
  max-width: 304px;
  max-height: 182px;
  position: absolute;
  left: 77%;
  bottom: 0;
  right: 0;
  top: 49%;
}


/*-----------------Article-----------------*/
.article {
  margin-bottom: 146px;
}

.article__titleBig {
  max-width: 913px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.article__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article__btn {
  height: 77px;
  width: 77px;
  border-radius: 50%;
  transition: 0.3s;
}

.article__btn:hover {
  opacity: 0.5;
}

.articleBtn__prev {
  border: 1px solid #D1D1D3;
  position: relative;
}

.articleBtn__prev::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-top: 1px solid #D1D1D3;
  border-left: 1px solid #D1D1D3;
  transform: rotate(-45deg);
  margin: auto;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
}

.articleBtn__next {
  border: 1px solid #E0BCA1;
  position: relative;
}

.articleBtn__next::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-top: 1px solid #E0BCA1;
  border-right: 1px solid #E0BCA1;
  transform: rotate(45deg);
  margin: auto;
  top: 0;
  left: 0;
  right: 10%;
  bottom: 0;
}

.article__img {
  margin-bottom: 66px;
}

.article__img-top {
  width: 777px;
  height: 511px;
  position: relative;
  z-index: 1000;
}

.article__img-bottom {
  min-width: 743px;
  height: 488px;
  position: absolute;
  margin: auto;
  top: 9%;
  left: 0;
  right: 0;
  bottom: 0;

}

.article__content {
  padding-left: 7%;
}

.article__titleSubordinate {
  margin-bottom: 40px;
  max-width: 480px;
}

.article__text {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.firstColumn {
  max-width: 483px;
}

.secondColumn {
  max-width: 483px;
}


/*-----------------vibecovorcing-----------------*/
.vibecovorcing {
  margin-bottom: 125px;
}

.vibecovorcing__titleMain {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 75px;
}

.vibecovorcing__photo {
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
  height: 290px;
}

.vibecovorcing__photo-img {
  max-width: 279px;
  max-height: 262px;
}

.vibecovorcing__photo-img:nth-child(odd) {
  align-self: flex-start;
}

.vibecovorcing__photo-img:nth-child(even) {
  align-self: flex-end;
}

.vibecovorcing__btn {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.main_btn {
  width: 334px;
  height: 103px;
}

.vibecovorcing__content {
  display: flex;
  justify-content: space-between;
}

.vibvecovorcing__content__titleMain {
  max-width: 605px;

}

.vibecovorcing__titleText {
  max-width: 483px;
}


/*-----------------vacanciesVideo-----------------*/
.vacanciesVideo {
  margin: 0 auto 145px auto;
  background-image: url("../img/Reservstion/vibeVideo/bg_main.png");
  height: 683px;
  max-width: 1617px;
}

.vacanciesVideo__container {
  position: relative;
  height: 683px;
  display: flex;
  align-items: center;
}

/* .vacanciesVideo__video {}

.vacanciesVideo__video-YouTube {}

 */
.vacanciesVideo__textNote {
  max-width: 120px;
  font-weight: 400;
  position: absolute;
  color: #fff;
  top: 28%;
  left: 37%;
}


.vacanciesVideo__note__arc {
  transform: rotate(-220deg);
  width: 180px;
  height: 130px;
  top: 23%;
  left: 39%;
}

.vacanciesVideo__titleBig {
  margin: 0 78px 30px 0;
  font-weight: 400;
  max-width: 448px;
  text-transform: uppercase;
  color: #fff;
}

.vacanciesVideo__textMain {
  max-width: 346px;
  color: #fff;
}

.vacanciesVideo__play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4%;
  left: 25%;
}

.vacanciesVideo__play-circleOne {
  height: 626px;
  width: 626px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(at 50% 50%, #b27b6f04, hsla(10, 31%, 63%, 0.021));
  border-top: solid 1px hsla(10, 31%, 63%, 0.082);
  border-right: solid 1px hsla(10, 31%, 63%, 0.034);
  border-bottom: solid 1px hsla(10, 31%, 63%, 0.144);
  border-left: solid 1px hsla(9, 38%, 82%, 0.027);
  transform: rotate(150deg);
}

.vacanciesVideo__play-circleSecond {
  height: 430px;
  width: 426px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(at 50% 50%, #b27b6f04, hsla(10, 31%, 63%, 0.021));
  border-top: solid 1px hsla(23, 25%, 77%, 0.24);
  border-right: solid 1px hsla(9, 15%, 74%, 0.034);
  border-bottom: solid 1px hsla(26, 41%, 47%, 0.226);
  border-left: solid 1px hsla(9, 38%, 82%, 0.027);
  transform: rotate(80deg);
}

.vacanciesVideo__play-circle-btn {
  position: relative;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(137.66deg, #F8E6E2 19.2%, #E4BEB5 76.33%);
  transform: rotate(130deg);
  transition: 0.8s;
}

.vacanciesVideo__play-circle-btn:hover {
  transform: scale(1.1, 1.1) rotate(130deg);
  background: linear-gradient(137.66deg, #F8E6E2 19.2%, #E4BEB5 76.33%);
}

.vacanciesVideo__play-circleTriangle {
  max-width: 22px;
  max-height: 22px;
}

.vacanciesVideo__girl {
  position: absolute;
  top: 4.9%;
  left: 49%;
  max-height: 780px;
  max-width: 800px;
}

/*-----------------payment-----------------*/
.payment {
  margin-bottom: 288px;
}

.payment__titleMain {
  text-align: center;
  margin: 0 auto 91px auto;
}

.payment__photo {
  margin: 0 auto;
  height: 531px;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;

}

.payment__photo-img {
  margin-bottom: 72px;
  max-width: 555px;
  max-height: 400px;
}

.payment__photo-img:nth-child(odd) {
  align-self: flex-start;
}

.payment__photo-img:nth-child(even) {
  align-self: flex-end;
}

.payment__content {
  margin: 0 auto;
  max-width: 810px;
}

.payment__content-text {
  margin-bottom: 78px;
}

.payment__content-text:last-child {
  margin: 0;
}

.payment__list {
  margin-bottom: 78px;
}

.payment__list-element {
  margin-bottom: 45px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.payment__list-element__numberOl {
  margin-right: 25px;
}


/*-----------------Article-----------------*/
.jobOffer {
  margin-bottom: 250px;
}

.jobOffer__preamble {
  margin-bottom: 90px;
  display: flex;
  position: relative;
}

.jobOffer__flowers {
  position: absolute;
  top: -80px;
  right: 250px;

}

.jobOffer__preamble1 {
  margin-right: 105px;
  max-width: 700px;
}

.jobOffer__titleBig {
  margin-bottom: 70px;
}

.jobOffer__text {
  max-width: 670px;
}

.jobOffer__preamble2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jobOffer__textBold {
  max-width: 270px;
  align-self: flex-end;
  margin-bottom: 65px;
  padding-left: 15px;

  background: url(../img/marker.png) no-repeat 0 0.4rem;
}

.jobOffer__content {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.jobOffer__note {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 200px;
}

.jobOffer__textNote {
  max-width: 105px;
  margin: 0 45px 105px 0;
}

.jobOffer__note__arc {
  height: 140px;
  width: 150px;
  top: 200px;
  left: 105px;
  transform: rotate(-135deg);
}

.jobOffer__img img {
  max-width: 555px;
  max-height: 400px;
}

.jobOffer__content-text {
  max-width: 308px;
  display: flex;
  flex-direction: column;

  justify-content: center;

}

.jobOffer__titleSubordinate {
  margin-bottom: 25px;
}



/*-----------------Article-----------------*/
.statistics {
  margin-bottom: 200px;
}

.statistics__block1 {
  display: flex;
  justify-content: space-between;
}

.statistics__block1-content {
  max-width: 740px;
}

.statistics__titleMain {
  margin-bottom: 50px;
}

.statistics__block1-text {
  max-width: 671px;
}

.statistics__block1-text:nth-child(2) {
  margin-bottom: 65px;
}

.statistics__block1-img {
  max-width: 584px;
}

.statistics__block2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.statistics__block2-textImg__titleSubordinate {
  font-size: 32px;
  position: absolute;
  line-height: 37px;
  max-width: 270px;
  top: 40px;
  left: 38px;
}

.statistics__block2-img img {
  max-width: 800px;
}

.statistics__block2-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics__block2-text {
  max-width: 380px;
  height: fit-content;
}


/*-----------------Article-----------------*/
.cards {
  margin-bottom: 195px;
}

.cards__titleMain {
  max-width: 570px;
  margin: 0 auto 80px auto;
  text-align: center;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  height: 585px;
}

.cards__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards__content-item:nth-child(even) {
  align-self: flex-start;
}

.cards__content-item:nth-child(odd) {
  align-self: flex-end;
}

.card__img {
  margin-bottom: 40px;
  max-width: 380px;
  max-height: 350px;
}

.card__text {
  max-width: 330px;
}

.card__titleSubordinate {
  margin-bottom: 15px;
  font-size: 29px;
}