@media (max-width: 1360px) {
  /*-----------------Header-----------------*/

  .intro__container {
    width: 100%;
  }

  .intro__titleBig {
    max-width: 735px;
  }

  .intro__titleBig {
    margin-bottom: 4%;
  }

  /*-----------------Branches-----------------*/
  .branches {
    margin-bottom: 130px;
  }

  .branches__paragraph {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 100px;
  }

  .branhes__data:nth-child(3n) {
    max-width: 222px;
  }

  .branches__number {
    font-size: 80px;
    line-height: 94px;
  }

  .branches__title {
    font-size: 32px;
    line-height: 38px;
  }

  .branches__textBold {
    margin-bottom: 60px;
    max-width: 195px;
  }

  .branchesExplanation__textBold {
    background: url(../img/marker.png) no-repeat 0 3px;
    padding-left: 20px;
  }

  /*-----------------Plans-----------------*/
  .plans {
    margin-bottom: 50px;
  }

  .plans__titleBig {
    max-width: 375px;
    margin: 0 auto 65px auto;
  }

  .plansSubtitle__titleBig {
    margin-bottom: 10px;
  }

  .plans__text {
    max-width: 865px;
  }

  /*----------Diagramma------------*/
  .diagramma {
    margin-bottom: 30px;
  }

  .diagramma__container {
    height: 750px;
    background: url("../img/diagramma/diagramma.png") center no-repeat;
    background-size: 750px auto;
  }

  .diagramma__levl {
    margin: 0 0 0 45%;
  }

  .diagramma__text {
    max-width: 300px;
  }

  .diagramma__textNote {
    max-width: 120px;
  }

  .diagramma__note__arc {
    height: 100px;
    width: 130px;
    transform: rotate(-45deg);
    top: 22.5%;
    left: 13%;
  }

  /*-----------------Slant-----------------*/
  .slant {
    margin-bottom: 120px;
  }

  .slant__slider {
    margin-bottom: 0;
  }

  .slant__titleBig {
    max-width: 730px;
  }

  .slant__text {
    max-width: 720px;
    margin: 0 auto 50px auto;
  }

  .slant__textBold {
    margin-bottom: 30%;
    line-height: 20px;
    max-width: 213px;

    background: url(../img/marker.png) no-repeat 0 3px;
    padding-left: 24px;
  }

  .slant__active {
    font-size: 40px;
    line-height: 47px;
  }

  .slant__navigation:before {
    top: 72%;
    left: 0 px;
  }

  /* Slider */
  .slant .slick-prev {
    height: 22px;
    width: 22px;
    top: 69%;
    right: 25%;
  }

  .slant .slick-prev::before {
    height: 5.14px;
    width: 5.14px;
    border-top: solid#E6B794 2px;
    border-left: solid #e6b794 2px;
  }

  .slant .slick-next {
    height: 22px;
    width: 22px;
    top: 69%;
    right: 8%;
  }

  .slant .slick-next::before {
    height: 5.14px;
    width: 5.41px;
    border-top: solid#E6B794 2px;
    border-left: solid #e6b794 2px;
  }

  .slant .slick-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-left: 120px;
  }

  .slant .slick-dots li {
    width: 3px;
    height: 3px;
  }

  .slant .slick-dots .slick-active:before {
    height: 10px;
    width: 10px;
  }

  /*-----------------Facilities-----------------*/
  .facilities {
    margin-bottom: 180px;
  }

  .facilities__titleBig {
    max-width: 640px;
    margin: 0 auto;
  }

  .facilities__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 550px;
    align-items: baseline;
  }

  .facilities__list-number img {
    max-width: 160px;
    height: 160px;
  }

  .facilities__list-number:first-child img {
    max-width: 160px;
    height: 142px;
  }

  .facilities__textBold {
    line-height: 20px;
    max-width: 224px;
  }

  .facilities__textBold-min {
    max-width: 180px;
  }

  .founders {
    margin-bottom: 180px;
  }

  .founders__titleBig {
    max-width: 645px;
    margin: 0 auto 80px auto;
  }

  .founders__item {
    margin-bottom: 70px;
    max-width: 865px;
  }

  .founders__img-proper {
    min-height: 420px;
    min-width: 400px;
  }

  .founders__item-content {
    max-width: 345px;
  }

  .founders__quote {
    max-width: 335px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 25px;
  }

  .founders__quote-address h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .founders__quote-address {
    font-size: 13px;
    line-height: 25px;
  }

  .founders__slider-img {
    max-width: 305px;
  }

  .founders__slider-line {
    max-width: 560px;
  }

  /*-----------------Advantage-----------------*/
  .advantage {
    margin-bottom: 30px;
  }

  .advantage__titleBig {
    max-width: 945px;
    margin: 0 auto 105px auto;
  }

  .advantage__item {
    max-width: 885px;
    height: 445px;
  }

  .advantage__element {
    max-width: 155px;
    height: 175px;
  }

  .advantage__icon {
    max-width: 84px;
    max-height: 84px;
  }

  .advantage__semicircle {
    height: 200px;
    width: 200px;
  }

  .advantage__semicircle::before {
    height: 199px;
    width: 203px;
  }
}

@media (max-width: 996px) {
  /*-----------------Header-----------------*/
  .intro__container {
    width: 100%;
  }

  .intro__titleBig {
    max-width: 65rem;
    margin-bottom: 5%;
  }

  .btn__intro {
    margin: 0 auto 8% auto;
    max-width: 7rem;
    max-height: 7rem;
  }

  /*-----------------Branches-----------------*/
  .branches {
    margin-bottom: 10rem;
  }

  .branches__paragraph {
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-bottom: 6rem;
  }

  .branhes__data:nth-child(3n) {
    max-width: 20rem;
  }

  .branches__number {
    font-size: 7.2rem;
    line-height: 8.5rem;
  }

  .branches__title {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  .branches__textBold {
    margin-bottom: 5rem;
    max-width: 165px;
  }

  .branchesExplanation__textBold {
    background: url(../img/marker.png) no-repeat 0 0.5rem;
    background-size: 1.1rem;
    padding-left: 1.5rem;
  }

  /*-----------------Plans-----------------*/
  .plans {
    margin-bottom: 7.5rem;
  }

  .plans__titleBig {
    max-width: 34.5rem;
    margin: 0 auto 5.5rem auto;
  }

  .plansSubtitle__titleBig {
    margin-bottom: 1.7rem;
  }

  .plans__text {
    max-width: 74.6rem;
  }

  /*----------Diagramma------------*/
  .diagramma {
    margin-bottom: 8rem;
  }

  .diagramma__container {
    height: 65.8rem;
    max-height: 100%;
    background-size: 60rem auto;
  }

  .diagramma__levl {
    margin: 0 0 0 43%;
  }

  .diagramma__titleBig {
    margin-bottom: 1rem;
  }

  .diagramma__text {
    max-width: 24.5rem;
  }

  .diagramma__textNote {
    max-width: 11rem;
    top: 14%;
    left: 11%;
  }

  .diagramma__note__arc {
    height: 8rem;
    width: 11rem;
    top: 21%;
    left: 11%;
  }

  .diagramma__titleMain {
    top: 30%;
    left: 14.5%;
  }

  /*-----------------Slant-----------------*/
  .slant__titleBig {
    margin: 0 auto 2.5rem auto;
    max-width: 60.5rem;
  }

  .slant__text {
    max-width: 65rem;
    margin: 0 auto 4.5rem auto;
  }

  .slant__img {
    width: 60%;
    z-index: 1000;
  }

  .slant__img img {
    width: 100%;
    max-width: 55rem;
    max-height: 32rem;
  }

  .slant__specifiation {
    margin-left: 5%;
    width: 40%;
  }

  .slant__navigation {
    max-width: 20rem;
  }

  .slant__textBold {
    margin-bottom: 4rem;
    line-height: 2rem;
    max-width: 19rem;

    background: url(../img/marker.png) no-repeat 0 0.5rem;
    background-size: 1.1rem;
    padding-left: 1.5rem;
  }

  .slant__number {
    padding: 0 3rem;
  }

  .slant__navigation:before {
    display: none;
  }

  .slant__active {
    font-size: 3.6rem;
  }

  /* Slider */
  .slant .slick-prev {
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid #dedee5;
    top: 69%;
    right: 30%;
  }

  .slant .slick-prev::before {
    height: 0.51rem;
    width: 0.51rem;
    border-top: solid#E6B794 0.2rem;
    border-left: solid #e6b794 0.2rem;
    margin-right: -0.2rem;
  }

  .slant .slick-next {
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid #dedee5;
    top: 69%;
    right: 16.5%;
  }

  .slant .slick-next::before {
    height: 0.51rem;
    width: 0.51rem;
    border-top: solid#E6B794 0.2rem;
    border-left: solid #e6b794 0.2rem;
    margin-right: 0.2rem;
  }

  /*-----------------Facilities-----------------*/
  .facilities {
    margin-bottom: 13rem;
  }

  .facilities__titleBig {
    max-width: 56.5rem;
  }

  .facilities__list {
    height: 58rem;
  }

  .facilities__list-number img {
    max-width: 15rem;
    height: 14rem;
  }
  .facilities__list-number:first-child img {
    max-width: 15rem;
    height: 14rem;
  }

  .facilities__textBold {
    font-size: 1.1rem;
    line-height: 2rem;
    max-width: 18rem;
  }

  /*-----------------Founders-----------------*/
  .founders {
    margin-bottom: 15rem;
  }

  .founders__titleBig {
    margin: 0 auto 6.5rem auto;
    max-width: 58rem;
  }

  .founders__item {
    margin-bottom: 6rem;
    max-width: 88rem;
  }

  .founders__item-img {
    width: 30%;
  }

  .founders__img-proper {
    min-width: 0;
    max-width: 36rem;
    min-height: 0;
    max-height: 38rem;
  }

  .founders__item-content {
    width: 58%;
    max-width: 41.5rem;
  }

  .founders__icon {
    margin-bottom: 6%;
    max-width: 7rem;
  }

  .founders__quote {
    max-width: 31rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .founders__quote-address h3 {
    font-size: 1.8rem;
    line-height: 2.25rem;
  }

  .founders__quote-address {
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .founders__slider {
    margin-bottom: 8%;
  }

  .founders__slider-img {
    max-width: 27.5rem;
  }

  .founders__slider-line {
    height: 2rem;
    max-width: 50rem;
  }

  .founders__slider-indicator {
    height: 0.1rem;
    width: 33.3333%;
  }

  .founders__slider_active {
    height: 0.2rem;
  }

  /*-----------------Advantage-----------------*/
  .advantage {
    margin-bottom: 4rem;
  }

  .advantage__titleBig {
    max-width: 85rem;
    margin: 0 auto 9rem auto;
  }

  .advantage__item {
    max-width: 77rem;
    height: 60rem;
  }

  .advantage__element {
    max-width: 33.333%;
    height: 25rem;
    text-align: center;
    margin: 0 3%;
  }

  .advantage__icon {
    max-width: 10.5rem;
    max-height: 10.5rem;
    margin-bottom: 2rem;
  }

  .advantage__textBold {
    width: 17rem;
    line-height: 2rem;
  }

  .advantage__semicircle {
    display: none;
  }

  .advantage__semicircle::before {
    display: none;
  }
}

@media (max-width: 540px) {
  /*-----------------Header-----------------*/
  .intro__container {
    flex-direction: column;
    justify-content: center;
  }

  .intro__titleBig {
    max-width: 45rem;
    margin-bottom: 5%;
  }

  .btn__intro {
    margin: 0 auto 0 auto;
    max-width: 9rem;
    max-height: 9rem;
  }

  /*-----------------Branches-----------------*/
  .branches {
    margin-bottom: 20rem;
  }

  .branches__paragraph {
    font-size: 2rem;
    line-height: 3rem;
  }

  .branches__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .branhes__data {
    width: 30rem;
  }

  .branhes__data:nth-child(3n) {
    max-width: 30rem;
  }

  .branhes__data:nth-child(5n) {
    margin: 0;
  }

  .branches__number {
    font-size: 10rem;
    line-height: 11rem;
  }

  .branches__title {
    font-size: 4rem;
    line-height: 5rem;
  }

  .branches__textBold {
    margin-bottom: 8rem;
    max-width: 30rem;
  }

  .branchesExplanation__textBold {
    background: url(../img/marker.png) no-repeat 0 0.2rem;
    background-size: 1.3rem;
    padding-left: 1.7rem;
  }

  /*-----------------Plans-----------------*/
  .plans {
    margin-bottom: 3rem;
  }

  .plans__titleBig {
    max-width: 37rem;
    margin: 0 auto 5.5rem auto;
  }

  .plansSubtitle__titleBig {
    margin-bottom: 1.7rem;
  }

  .plans__text {
    max-width: 74.6rem;
  }

  /*----------Diagramma------------*/
  .diagramma {
    margin-bottom: 0rem;
  }

  .diagramma__container {
    height: 80rem;
    max-height: 100%;
    background-size: 45rem auto;
  }

  .diagramma__levl {
    margin: 0;
  }

  .diagramma__titleBig {
    margin-bottom: 1rem;
  }

  .diagramma__text {
    max-width: 48.6rem;
  }

  .diagramma__titleMain {
    top: 30%;
    left: 5%;
  }

  /*-----------------Slant-----------------*/
  .slant {
    margin-bottom: 18rem;
  }

  .slant__titleBig {
    margin: 0 auto 3rem auto;
  }

  .slant__text {
    max-width: 65rem;
    margin: 0 auto 4.5rem auto;
  }

  .slant__slider {
    margin-bottom: 3%;
    flex-direction: column;
  }

  .slant__img {
    width: 100%;
    z-index: 1000;
    margin-bottom: 3rem;
  }

  .slant__img img {
    width: 100%;
    max-width: 59rem;
    max-height: 39.5rem;
  }

  .slant__specifiation {
    margin-left: 0;
    width: 100%;
    max-width: 65%;
  }

  .slant__navigation {
    max-width: 40rem;
    margin: 0 auto;
  }

  .slant__textBold {
    margin-bottom: 4rem;
    line-height: 2rem;
    max-width: 100%;
    background: url(../img/marker.png) no-repeat 0 0.2rem;
    background-size: 1.3rem;
    padding-left: 1.7rem;
  }

  .slant__btn {
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #dedee5;
  }

  .slant__btn_prev::before {
    height: 1rem;
    width: 1rem;
    margin-right: -0.2rem;
  }

  .slant__btn_next::before {
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
  }

  .slant__number {
    padding: 0 5rem;
  }

  .slant__active {
    font-size: 4.6rem;
  }

  .slant__indicators {
    display: none;
  }

  .slant .slick-next {
    height: 22px;
    width: 22px;
    top: 7rem;
    right: 10%;
  }

  .slant .slick-prev {
    height: 22px;
    width: 22px;
    top: 7rem;
    left: 10%;
  }

  .slant .slick-dots {
    padding-left: 0;
    width: 100px;
    margin: 0 auto;
  }

  /*-----------------Facilities-----------------*/
  .facilities {
    margin-bottom: 10rem;
  }

  .facilities__titleBig {
    max-width: 70rem;
  }

  .facilities__list {
    height: 50rem;
    flex-direction: column;
    align-items: center;
  }

  .facilities__list-item {
    flex-basis: 60%;
    margin: 0 auto 5rem auto;
  }

  .facilities__list-item:nth-child(3n + 1) {
    margin: 0 auto 5rem auto;
  }

  .facilities__list-item:nth-child(n + 2) {
    display: none;
  }
  .facilities__list-number img {
    max-width: 30rem;
    height: 29rem;
  }
  .facilities__list-number:first-child img {
    max-width: 30rem;
    height: 29rem;
  }

  .facilities__textBold {
    font-size: 1.8rem;
    line-height: 2rem;
    max-width: 40rem;
  }

  /*-----------------Founders-----------------*/
  .founders {
    margin-bottom: 15rem;
  }

  .founders__titleBig {
    margin: 0 auto 6.5rem auto;
    max-width: 50rem;
  }

  .founders__item {
    margin-bottom: 6rem;
    max-width: 50rem;
    flex-direction: column;
    align-items: center;
  }

  .founders__item-img {
    width: 40rem;
    margin-bottom: 1.5rem;
  }

  .founders__img-proper {
    min-width: 0;
    max-width: 40rem;
    min-height: 0;
    max-height: 42rem;
  }

  .founders__item-content {
    width: 40rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
  }

  .founders__icon {
    display: none;
  }

  .founders__quote {
    max-width: 31rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .founders__quote-address h3 {
    font-size: 1.8rem;
    line-height: 1.9rem;
  }

  .founders__quote-address {
    font-size: 1.2rem;
    order: -1;
    margin: 0;
    align-self: flex-end;
    direction: rtl;
    margin-bottom: 3rem;
    line-height: 1.9rem;
  }

  .founders__slider {
    margin-bottom: 8%;
    justify-content: center;
  }

  .founders__slider-img {
    max-width: 27.5rem;
    margin-bottom: 1rem;
  }

  .founders__slider-item:nth-child(n + 2) {
    display: none;
  }

  .founders__slider-line {
    height: 2rem;
    max-width: 40rem;
  }

  .founders__slider-indicator {
    height: 0.1rem;
    width: 33.3333%;
  }

  .founders__slider_active {
    height: 0.2rem;
  }

  /*-----------------Advantage-----------------*/
  .advantage {
    margin-bottom: 4rem;
  }

  .advantage__titleBig {
    max-width: 40rem;
    margin: 0 auto 9rem auto;
  }

  .advantage__item {
    max-width: 50rem;
    height: 30rem;
    justify-content: center;
  }

  .advantage__element {
    max-width: 40rem;
    width: 100%;
    height: 30rem;
    text-align: center;
    margin: 0;
    align-self: center;
  }

  .advantage__element:nth-child(n + 2) {
    display: none;
  }
  .advantage__icon {
    max-width: 10.5rem;
    max-height: 10.5rem;
    margin-bottom: 2rem;
  }

  .advantage__textBold {
    width: 20rem;
    line-height: 2rem;
    margin: 0 auto;
  }
}
