/*-----------------Fonts-----------------*/
@font-face {
  font-family: "TTNorms-Bold";
  src: url("../fonts/TTNorms-Bold.eot");
  src: local("☺"), url("../fonts/TTNorms-Bold.woff") format("woff"),
    url("../fonts/TTNorms-Bold.ttf") format("truetype"),
    url("../fonts/TTNorms-Bold.svg") format("svg");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "TTNorms-Italic";
  src: url("../fonts/TTNorms-Italic.eot");
  src: local("☺"), url("../fonts/TTNorms-Italic.woff") format("woff"),
    url("../fonts/TTNorms-Italic.ttf") format("truetype"),
    url("../fonts/TTNorms-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TTNorms-Regular";
  src: url("../fonts/TTNorms-Regular.eot");
  src: local("☺"), url("../fonts/TTNorms-Regular.woff") format("woff"),
    url("../fonts/TTNorms-Regular.ttf") format("truetype"),
    url("../fonts/TTNorms-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/*-----------------Styles-----------------*/
html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "TTNorms-Regular";
  line-height: 32px;
  font-weight: 400;

  color: #34343f;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1180px;
  margin: 0px auto;
}

[class*="__titleBig"] {
  font-family: "tenor sans";
  font-size: 50px;
  line-height: 58px;
}

[class*="__titleMain"] {
  font-family: "tenor sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 46.8px;
}

[class*="__titleText"] {
  font-size: 20px;
  line-height: 32px;
  color: #363348;
}

[class*="__titleSubordinate"] {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

[class*="__textMain"] {
  font-size: 18px;
  color: #363348;
}

[class*="__textBold"] {
  font-family: "TTNorms-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

[class*="__numberOl"] {
  font-family: "TTNorms-Bold";
  font-size: 16px;
  font-weight: 700;

  color: #ce946b;
}

[class*="__textNote"] {
  font-family: "TTNorms-Italic";
  font-size: 13px;
  font-style: italic;
  line-height: 14px;
}

[class*="__arc"] {
  position: absolute;
  background-color: transparent;
  border-radius: 50% 50% 50% 50%;
  border-right: 0.8px solid #aeaeae;
  border-left: 0.8px solid transparent;
  border-bottom: 0.8px solid transparent;
  border-top: 0.8px solid transparent;
  transform: rotate(38deg);
  left: 86%;
  top: -42%;
}

[class*="_Pink"] {
  background-color: #edd5d0;
}

.beigeText {
  color: #e5b093;
  font-weight: 400;
}

.main_btn {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border-radius: 10px / 90%;
  box-shadow: inset 0px 0px 12px #e5b79a, -2px 5px 2px 0px #b98766,
    0px 0px 50px -20px #e5b093;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_btn:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.main_btnicon {
  margin-left: 10px;
}

.btn_pink {
  background-color: rgba(232, 186, 153, 1);

  border-radius: 6px;
  border: 1.2px solid #ce946b;

  color: #c88c61;
}

.btn_gray {
  background-color: #d8d8d8;

  border-radius: 6px;
  border: 1.2px solid #c8c8c8;

  color: #9f9b9b;
}

.border-main {
  border: 10px solid #ffff;
  box-shadow: 0 10px 15px rgb(212, 212, 212);
  line-height: 0px;
}

/*-----------------Header-----------------*/
.header {
  background-color: #363348;
}

.header__container {
  max-width: 1470px;
  display: flex;
  min-height: 93px;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.img__logo {
  max-height: 32px;
  max-width: 100px;
}

.logo__line {
  height: 57px;
  opacity: 10.21%;
  margin: 0 25px;
  background-color: rgba(255, 255, 255, 1);
  width: 1px;
}

.logo__text {
  font-family: "TTNorms-Regular";
  font-weight: 400;
  line-height: 15px;

  font-size: 12px;

  color: rgba(255, 255, 255, 0.842);
}

.menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  padding-left: 112px;
}

.menu__item {
  display: inline-block;
  font-size: 16px;
  margin-right: 31px;
}

.menu__link {
  color: #ffff;
  position: relative;
}

.menu__link_active {
  color: #e5b093;
}

.menu__link:after {
  z-index: 1;

  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  margin: auto;
  background-color: #e5b093;
  opacity: 0;
  transition: opacity 0.2s linear;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu__link:hover:after {
  opacity: 1;
}

.header__contact {
  flex: 0 0 499px;
  display: flex;
  justify-content: flex-end;
}

.phoneCall__icon {
  width: 40px;
  max-width: 100px;
  max-height: 35px;
  align-self: flex-end;
}

.phone__call_text {
  display: flex;
  align-self: center;
  font-size: 14px;
  height: 50px;
  cursor: pointer;
}

.header__span {
  line-height: 20px;
  color: #ffff;
  align-self: center;

  background: linear-gradient(119deg, #e1b08d, #cc936b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-bottom: 2px rgb(141, 103, 75);
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;

  transition: 0.8s;
}

.header__span:hover {
  font-size: 18px;
}

.header__intro {
  text-align: center;
  margin-top: 72px;
}

.intro__container {
  height: 683px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1617px;
  background: url("../img/header/bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  margin: 0 auto 175px auto;
}

.intro__titleBig {
  padding: 259px 0 0 0;
  line-height: 58px;

  color: #ffff;
}

.btn__intro {
  padding-top: 117px;
}

/*-----------------Description-----------------*/
.description__container {
  margin-bottom: 178px;
  display: flex;
  flex-direction: column;
}

.block__header {
  text-align: center;
}

.description__titleMain {
  max-width: 913px;
  margin: 0 auto 61px auto;
}

.description__titleText {
  max-width: 780px;
  margin: 0 auto 138px auto;
}

.description1__content {
  display: flex;
}

.description1__photo {
  width: 65%;
  position: relative;
  min-height: 508px;
  margin-bottom: 60px;
}

.description1__photo-img1 {
  max-width: 519px;
  max-height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.description1__photo-img1 img {
  max-width: 519px;
  max-height: 378px;
}

.description1__photo-img2 {
  max-width: 327px;
  max-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);

  position: absolute;
  left: 40%;
  bottom: 0;
  right: 0;
  top: 40%;
}

.description1__photo-img2 img {
  max-width: 313px;
  max-height: 226px;
}

.description1__item {
  width: 35%;
}

.descriptio1__titleSubordinate {
  max-width: 327px;
  margin-bottom: 30px;
}

.description1__textMain {
  max-width: 390px;
  margin-bottom: 56px;
}

.description__btn1 {
  width: 334px;
  height: 103px;
}

.description2__content {
  display: flex;
  max-width: 1125px;
  align-self: center;
  position: relative;
}

.description__textNote {
  position: absolute;
  display: inline-block;
  min-width: 104px;
  max-width: 104px;
  top: -30%;
  right: -20%;
}

.description__note__arc {
  height: 150px;
  width: 220px;
}

.description2__content {
  position: relative;
}

.description2__item {
  width: 60%;
}

.description2__titleSubordinate {
  max-width: 327px;
  margin-bottom: 30px;
}

.description2__textMain {
  max-width: 400px;
  margin-bottom: 56px;
}

.description2__btn {
  width: 334px;
  height: 103px;
}

.description2__photo {
  width: 40%;
  position: relative;
}

.description2__photo-img1 {
  max-width: 496px;
  min-height: 358px;
  display: flex;
  justify-content: center;
  align-items: center;

  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.description2__photo-img1 img {
  max-width: 496px;
  min-height: 358px;
}

.description2__photo-img2 {
  max-width: 304px;
  max-height: 182px;
  position: absolute;
  left: 77%;
  bottom: 0;
  right: 0;
  top: 49%;
}

/*-----------------Article-----------------*/
.article {
  margin-bottom: 146px;
}

.article__titleBig {
  max-width: 913px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.article__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article__btn {
  height: 77px;
  width: 77px;
  border-radius: 50%;
  transition: 0.3s;
}

.article__btn:hover {
  opacity: 0.5;
}

.articleBtn__prev {
  border: 1px solid #d1d1d3;
  position: relative;
}

.articleBtn__prev::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-top: 1px solid #d1d1d3;
  border-left: 1px solid #d1d1d3;
  transform: rotate(-45deg);
  margin: auto;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
}

.articleBtn__next {
  border: 1px solid #e0bca1;
  position: relative;
}

.articleBtn__next::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-top: 1px solid #e0bca1;
  border-right: 1px solid #e0bca1;
  transform: rotate(45deg);
  margin: auto;
  top: 0;
  left: 0;
  right: 10%;
  bottom: 0;
}

.article__img {
  margin-bottom: 66px;
}

.article__img-top {
  width: 777px;
  height: 511px;
  position: relative;
  z-index: 1000;
}

.article__img-bottom {
  min-width: 743px;
  height: 488px;
  position: absolute;
  margin: auto;
  top: 9%;
  left: 0;
  right: 0;
  bottom: 0;
}

.article__content {
  padding-left: 7%;
}

.article__titleSubordinate {
  margin-bottom: 40px;
  max-width: 480px;
}

.article__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstColumn {
  max-width: 483px;
}

.secondColumn {
  max-width: 483px;
}

/*-----------------vibecovorcing-----------------*/
.vibecovorcing {
  margin-bottom: 125px;
}

.vibecovorcing__titleMain {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 75px;
}

.vibecovorcing__photo {
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
  height: 290px;
}

.vibecovorcing__photo-img {
  max-width: 279px;
  max-height: 262px;
}

.vibecovorcing__photo-img:nth-child(odd) {
  align-self: flex-start;
}

.vibecovorcing__photo-img:nth-child(even) {
  align-self: flex-end;
}

.vibecovorcing__btn {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.main_btn {
  width: 334px;
  height: 103px;
}

.vibecovorcing__content {
  display: flex;
  justify-content: space-between;
}

.vibvecovorcing__content__titleMain {
  max-width: 605px;
}

.vibecovorcing__titleText {
  max-width: 483px;
}

/*-----------------vacanciesVideo-----------------*/
.vacanciesVideo {
  margin: 0 auto 145px auto;
  background-image: url("../img/Reservstion/vibeVideo/bg_main.png");
  height: 683px;
  max-width: 1617px;
}

.vacanciesVideo__container {
  position: relative;
  height: 683px;
  display: flex;
  align-items: center;
}

.vacanciesVideo__girl {
  position: absolute;
  top: 4.9%;
  left: 49%;
  max-height: 780px;
  max-width: 800px;
}

/* .vacanciesVideo__video {}

.vacanciesVideo__video-YouTube {}

 */
.vacanciesVideo__textNote {
  max-width: 120px;
  font-weight: 400;
  position: absolute;
  color: #fff;
  top: 28%;
  left: 37%;
}

.vacanciesVideo__note__arc {
  transform: rotate(-220deg);
  width: 180px;
  height: 130px;
  top: 23%;
  left: 39%;
}

.vacanciesVideo__titleBig {
  margin: 0 78px 30px 0;
  font-weight: 400;
  max-width: 448px;
  text-transform: uppercase;
  color: #fff;
}

.vacanciesVideo__textMain {
  max-width: 346px;
  color: #fff;
}

.vacanciesVideo__play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4%;
  left: 25%;
}

.vacanciesVideo__play-circleOne {
  height: 626px;
  width: 626px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(at 50% 50%, #b27b6f04, hsla(10, 31%, 63%, 0.021));
  border-top: solid 1px hsla(10, 31%, 63%, 0.082);
  border-right: solid 1px hsla(10, 31%, 63%, 0.034);
  border-bottom: solid 1px hsla(10, 31%, 63%, 0.144);
  border-left: solid 1px hsla(9, 38%, 82%, 0.027);
  transform: rotate(150deg);
}

.vacanciesVideo__play-circleSecond {
  height: 430px;
  width: 426px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(at 50% 50%, #b27b6f04, hsla(10, 31%, 63%, 0.021));
  border-top: solid 1px hsla(23, 25%, 77%, 0.24);
  border-right: solid 1px hsla(9, 15%, 74%, 0.034);
  border-bottom: solid 1px hsla(26, 41%, 47%, 0.226);
  border-left: solid 1px hsla(9, 38%, 82%, 0.027);
  transform: rotate(80deg);
}

.vacanciesVideo__play-circle-btn {
  position: relative;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(137.66deg, #f8e6e2 19.2%, #e4beb5 76.33%);
  transform: rotate(130deg);
  transition: 0.8s;
}

.vacanciesVideo__play-circle-btn:hover {
  transform: scale(1.1, 1.1) rotate(130deg);
  background: linear-gradient(137.66deg, #f8e6e2 19.2%, #e4beb5 76.33%);
}

.vacanciesVideo__play-circleTriangle {
  max-width: 22px;
  max-height: 22px;
}

/*-----------------payment-----------------*/
.payment {
  margin-bottom: 288px;
}

.payment__titleMain {
  text-align: center;
  margin: 0 auto 91px auto;
}

.payment__photo {
  margin: 0 auto;
  height: 531px;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}

.payment__photo-img {
  margin-bottom: 72px;
  max-width: 555px;
  max-height: 400px;
}

.payment__photo-img:nth-child(odd) {
  align-self: flex-start;
}

.payment__photo-img:nth-child(even) {
  align-self: flex-end;
}

.payment__content {
  margin: 0 auto;
  max-width: 810px;
}

.payment__content-text {
  margin-bottom: 78px;
}

.payment__content-text:last-child {
  margin: 0;
}

.payment__list {
  margin-bottom: 78px;
}

.payment__list-element {
  margin-bottom: 45px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.payment__list-element__numberOl {
  margin-right: 25px;
}

/*-----------------jobOffers-----------------*/
.jobOffer {
  margin-bottom: 250px;
}

.jobOffer__preamble {
  margin-bottom: 90px;
  display: flex;
  position: relative;
}

.jobOffer__flowers {
  position: absolute;
  top: -80px;
  right: 250px;
}

.jobOffer__preamble1 {
  margin-right: 105px;
  max-width: 700px;
}

.jobOffer__titleBig {
  margin-bottom: 70px;
}

.jobOffer__text {
  max-width: 670px;
}

.jobOffer__preamble2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jobOffer__textBold {
  max-width: 270px;
  align-self: flex-end;
  margin-bottom: 65px;
  padding-left: 15px;

  background: url(../img/marker.png) no-repeat 0 4px;
}

.jobOffer__content {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.jobOffer__note {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 200px;
}

.jobOffer__textNote {
  max-width: 105px;
  margin: 0 45px 105px 0;
}

.jobOffer__note__arc {
  height: 140px;
  width: 150px;
  top: 200px;
  left: 105px;
  transform: rotate(-135deg);
}

.jobOffer__img img {
  max-width: 555px;
  max-height: 400px;
}

.jobOffer__content-text {
  max-width: 308px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.jobOffer__titleSubordinate {
  margin-bottom: 25px;
}

/*-----------------Article-----------------*/
.statistics {
  margin-bottom: 200px;
}

.statistics__block1 {
  display: flex;
  justify-content: space-between;
}

.statistics__block1-content {
  max-width: 740px;
}

.statistics__titleMain {
  margin-bottom: 50px;
}

.statistics__block1-text {
  max-width: 671px;
}

.statistics__block1-text:nth-child(2) {
  margin-bottom: 65px;
}

.statistics__block1-img {
  max-width: 584px;
}

.statistics__block2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.statistics__block2-textImg__titleSubordinate {
  font-size: 32px;
  position: absolute;
  line-height: 37px;
  max-width: 270px;
  top: 40px;
  left: 38px;
}

.statistics__block2-img img {
  max-width: 800px;
}

.statistics__block2-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics__block2-text {
  max-width: 380px;
  height: fit-content;
}

/*-----------------Article-----------------*/
.cards {
  margin-bottom: 195px;
}

.cards__titleMain {
  max-width: 570px;
  margin: 0 auto 80px auto;
  text-align: center;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  height: 585px;
}

.cards__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards__content-item:nth-child(even) {
  align-self: flex-start;
}

.cards__content-item:nth-child(odd) {
  align-self: flex-end;
}

.card__img {
  margin-bottom: 40px;
  max-width: 380px;
  max-height: 350px;
}

.card__text {
  max-width: 330px;
}

.card__titleSubordinate {
  margin-bottom: 15px;
  font-size: 29px;
}

/*-----------------excellence-----------------*/
.excellence {
  margin-bottom: 190px;
}

.excellence__preamble {
  margin: 0 auto 85px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1095px;
}

.excellence__preamble1 {
  margin-right: 105px;
  max-width: 670px;
  display: flex;
  align-items: center;
}

.excellence__textBold {
  max-width: 270px;
  padding-left: 18px;

  background: url(../img/marker.png) no-repeat 0 4px;
}

.excellence__titleBig {
  margin-bottom: 70px;
}

.excellence__text {
  max-width: 670px;
}

.excellence__preamble2 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.excellence__content {
  margin: 0 auto 190px auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 1010px;
}

.excellence__flowers {
  position: absolute;
  top: 20px;
  left: -100px;
}

.excellence__img img {
  max-width: 555px;
  max-height: 400px;
}

.excellence__content-text {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.excellence__titleSubordinate {
  margin-bottom: 25px;
}

.excellence__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.excellence__mainText {
  max-width: 800px;
}

.excellence__titleMain {
  margin-bottom: 55px;
}

.excellence__main-text {
  max-width: 671px;
}

.excellence__mainMessage {
  position: relative;
  min-width: 351px;
  height: 125px;
  background-color: #edd5d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.excellence__mainMessage::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  margin: -50px 0 50px 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #edd5d0;
  top: 85px;
  left: -60px;
  transform: rotate(-30deg);
}

.excellence__mainMessage-text {
  max-width: 245px;
  line-height: 26px;
}

/*-----------------payRise-----------------*/
.payRise {
  margin-bottom: 225px;
}

.payRise__titleMain {
  margin: 0 auto 100px auto;
  max-width: 760px;
  text-align: center;
}

.payRise__icons {
  display: flex;
  justify-content: space-between;
}

.payRise__icons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 135px;
}

.payRise__icons-img {
  margin-bottom: 15px;
  width: 52px;
  height: 52px;
}

.payRise__icons__textBold {
  color: #ce946b;
  line-height: 14px;
}

/*-----------------Feedback-----------------*/
.feedback {
  margin: 0 auto;
  height: 890px;
  max-width: 1919px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 5;
  overflow: hidden;
}

.feedback__bg {
  background-color: rgba(54, 51, 72, 1);
  position: absolute;
  height: 1000px;
  width: 5000px;
  border-radius: 50%;
  z-index: 0;
  overflow: hidden;
}

.feedback__bg-mask {
  background: url(../img/Vacancies.img/Feedback/mask.png);
  z-index: 50;
  height: 755px;
}

.feedback__container {
  color: #ffff;
  padding-top: 215px;
  position: relative;
}

.feedback__img {
  position: absolute;
  z-index: -500000;
  bottom: 100px;
  left: 900px;
}

.feedback__titleBig {
  margin-bottom: 45px;
}

.feedback__text {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 39px;
  max-width: 1036px;

  color: rgba(255, 255, 255, 1);
}

.feedback__form {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1096px;
}

.feedback__blockContact {
  max-width: 740px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__form-contact {
  margin-bottom: 25px;
  height: 98px;
  width: 357px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 1px solid rgba(250, 250, 250, 0.165952);
  box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.212751);
  border-radius: 7px;
}

.feedback__form-contact:nth-child(n + 3) {
  margin-bottom: 0;
}

.feedback__form-icon {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background: linear-gradient(131.39deg, #ebbe9d 13.55%, #dfab86 80.5%);
  border-radius: 50%;
}

.feedback__inpyt {
  font-family: "TTNorms-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(157, 157, 176, 1);

  padding-left: 20px;
  border-left: 1px solid #f0f0f0;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
}

.feedback__form__btn {
  width: 334px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.feedback__form__sending {
  background: transparent;
  border: transparent;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
}

.feedback__PrivacyPolicy {
  max-width: 1096px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feedback__PrivacyPolicy-item {
  max-width: 334px;
  font-family: "TTNorms-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}

.feedback__PrivacyPolicy-chekbox {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 15%;
  text-align: center;

  position: relative;
  top: 2px;
  background-color: #ecd4c1;
}

.feedback__PrivacyPolicy-link {
  display: inline-block;
}

.feedback__PrivacyPolicy-chekbox::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  border-right: 1.5px #363348 solid;
  border-bottom: 1.5px #363348 solid;
  border-top: none;
  border-left: none;
  z-index: 10000000;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* transform: translate(-30%, -30%); */
  transition: 0.8s;
  transform: rotate(30deg);
  display: block;
  opacity: 1;
  /* opacity: 0; */
}

input[type="checkbox"] {
  display: none;
}

input.checkbox:checked+div>span::before {
  /* opacity: 1; */
  /* display: none; */
  opacity: 0;
}

/*-----------------
Footer-----------------*/
.footer {
  border-top: 1px solid rgba(233, 233, 241, 1);
}

.footer__content {
  height: 370px;
  display: flex;
  padding: 117px 0;
}

.footer__item {
  width: 50%;
}

.footer__logo {
  max-width: 170px;
  max-height: 54px;
}

.footer__contacts {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.footer__icon {
  margin-right: 16px;
  transition: 0.5s;
}

.footer__icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.footer__telephone {
  margin-left: 15px;
}

.footer__telephone-number {
  font-size: 27px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(52, 52, 63, 1);
  transition: 0.5s;
}

.footer__telephone-number:hover {
  opacity: 0.7;
}

.footer__telephone-call {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(206, 148, 107, 1);
}

.footer__telephone-call:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.footer__telephone-call-icon {
  margin-right: 8px;
}

.footer__navigation {
  width: 25%;
}

.footer__link {
  font-size: 16px;
  color: rgba(52, 52, 63, 1);
  line-height: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}

.footer__link:hover {
  color: rgba(248, 230, 226, 1);
}

.footer__privacyPolicy {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;

  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid;
  border-image: linear-gradient(to right,
      rgba(233, 233, 241, 0.0001),
      rgba(222, 222, 229, 1),
      rgba(233, 233, 241, 0.0001)) 100% 0%;
}

.footer__privacyPolicy-text {
  margin: 0 auto;
  font-size: 14px;
  color: rgba(165, 165, 179, 1);
  transition: 0.5s;
}

.footer__privacyPolicy-text:hover {
  opacity: 0.7;
}