/*-----------------Intro-----------------*/

.header__intro {
  text-align: center;
}

.intro__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../img/header/bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 4% auto 8% auto;
}

.intro__titleBig {
  display: inline-block;
  max-width: 917px;
  margin: 0 auto;
  color: #ffff;
  margin-bottom: 7%;
}

.btn__intro {
  margin-bottom: 6%;
}

/*-----------------Branches-----------------*/
.branches {
  margin-bottom: 225px;
}

.branches__paragraph {
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 154px;
}

.branches__bold {
  font-family: "TTNorms-Bold";
  color: #000;
}

.branches__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.branhes__data {
  width: 33.33%;
}

.branhes__data:nth-child(3n) {
  max-width: 278px;
}

.branhes__data:nth-child(5n) {
  margin: 0 auto 0 5%;
}

.branches__number {
  font-family: "tenor sans";
  font-size: 100px;
  line-height: 80px;
  color: #ce946b;
}

.branches__title {
  font-family: "tenor sans";
  font-size: 40px;
  line-height: 46px;
  color: #ce946b;
}

.branches__textBold {
  margin-bottom: 154px;
  max-width: 278px;
}

.branchesExplanation__textBold {
  background: url(../img/marker.png) no-repeat 0 4px;
  padding-left: 22px;
}

/*-----------------Plans-----------------*/
.plans {
  margin-bottom: 75px;
}

.plans__titleBig {
  text-align: center;
  max-width: 608px;
  margin: 0 auto 95px auto;
}

.plansSubtitle__titleBig {
  margin-bottom: 20px;
  text-transform: lowercase;
}

.plans__text {
  max-width: 1078px;
}

/*----------Diagramma------------*/
.diagramma {
  margin-bottom: 100px;
}

.diagramma__container {
  position: relative;
  height: 1000px;
  max-height: 100%;
  background: url("../img/diagramma/diagramma.png") center no-repeat;
  background-size: 910px auto;
}

.diagramma__levl {
  margin: 0 0 0 40%;
}

.diagramma__titleBig {
  text-transform: lowercase;
}

.diagramma__text {
  max-width: 404px;
}

.diagramma__textNote {
  position: absolute;
  max-width: 130px;
  top: 15%;
  left: 10%;
}

.diagramma__note__arc {
  height: 110px;
  width: 140px;
  transform: rotate(-45deg);
  top: 21%;
  left: 13%;
}

.diagramma__titleMain {
  position: absolute;
  top: 30%;
  left: 12.5%;
}

/*-----------------Slant-----------------*/
.slant {
  margin-bottom: 185px;
  position: relative;
}

.slant__header {
  text-align: center;
}

.slant__titleBig {
  margin: 0 auto 25px auto;
}

.slant__text {
  max-width: 905px;
  margin: 0 auto 60px auto;
}

.slant__slider {
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
display: none;
}

.slant__slider.curry {
display: flex;
}

.slant__img {
  max-width: 70%;
  width: 70%;
  z-index: 1000;
  margin-bottom: 40px;
}

.slant__img img {
  width: 100%;
}

.slant__specifiation {
  margin-left: 7%;
  max-width: 30%;
}

.slant__textBold {
  margin-bottom: 80px;
  line-height: 26px;
  max-width: 270px;

  background: url(../img/marker.png) no-repeat 0 4px;
  padding-left: 24px;
}

.slant__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slant__btn {
  height: 27px;
  width: 27px;
  background-color: #fff;
  border: 1px solid #dedee5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.slant__btn:hover {
  background: #ff9f5f;
}

.slant__btn_prev {
  position: absolute;
  z-index: 100000;
  top: 75.5%;
  left: 67%;
}

.slant__btn_prev::before {
  position: absolute;
  display: block;
  content: "";
  height: 7.14px;
  width: 7.14px;
  border-top: solid#E6B794 3px;
  border-left: solid #e6b794 3px;
  transform: rotate(-45deg);
  margin-right: -2px;
}

.slant__btn_next {
  position: absolute;
  z-index: 100000;
  top: 75.5%;
  right: 22.5%;
}

.slant__btn_next::before {
  position: absolute;
  display: block;
  content: "";
  height: 7.14px;
  width: 7.41px;
  border-top: solid#E6B794 3px;
  border-left: solid #e6b794 3px;
  transform: rotate(130deg);
  margin-right: 2px;
}

.slant__number {
  font-family: "tenor sans";
  padding: 0 53px;
  position: relative;
  background-color: #fff;
}

.slant__navigation:before {
  display: block;
  width: 700px;
  content: "";
  position: absolute;
  border-bottom: 1px solid #dedee5;
  border-left: none;
  border-right: none;
  border-top: none;
  border-image: linear-gradient(
      to right,
      rgba(233, 233, 241, 0),
      rgba(222, 222, 229, 1),
      rgba(233, 233, 241, 0.0001)
    )
    100% 0%;
  top: 50%;
  left: 0 px;
}

.slant__active {
  font-size: 50px;
}

.slant__indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 185px;
  padding-left: 96px;
}

.slant__indicators-item {
  width: 4px;
  height: 4px;
  background: #b1b1b3;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slantIndicator__active {
  background: #c88c61;
}

.slantIndicator__active::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background: transparent;
  z-index: -1;
  border: solid 1px #c88c61;
}

/*-----------------Facilities-----------------*/
.facilities {
  margin-bottom: 230px;
}

.facilities__container {
  text-align: center;
}

.facilities__titleBig {
  max-width: 830px;
  margin: 0 auto;
}

.facilities__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 750px;
  align-items: baseline;
}

.facilities__list-item {
  flex-basis: 33.33333%;
  margin: 0 auto 0 0;
}

.facilities__list-item:nth-child(3n + 1) {
  margin: 0 0 0 auto;
}

.facilities__list-number img {
  max-width: 215px;
  height: 50%;
}

.facilities__textBold {
  line-height: 24px;
  max-width: 280px;
  margin: 0 auto;
}

/*-----------------Founders-----------------*/
.founders {
  margin-bottom: 230px;
}

.founders__titleBig {
  text-align: center;

  margin: 0 auto 95px auto;
  max-width: 804px;
}

.founders__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  max-width: 1090px;
}

.founders__item-img {
  width: 42%;
}

.founders__img-proper {
  min-width: 500px;
  min-height: 530px;
}

.founders__item-content {
  width: 58%;
  max-width: 495px;
}

.founders__icon {
  margin-bottom: 8%;
}

.founders__quote {
  max-width: 438px;
  margin-bottom: 55px;
  font-family: "tenor sans";
  font-size: 22px;
  line-height: 32px;
}

.founders__quote-address h3 {
  font-size: 26px;
  line-height: 36px;
}

.founders__quote-address {
  margin: 0 auto;
  font-size: 16px;
  line-height: 36px;
}

.founders__slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.founders__slider-img {
  max-width: 350px;
}

.founders__slider-line {
  display: flex;
  align-items: center;
  height: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.founders__slider-indicator {
  height: 1px;
  width: 33.3333%;
  background-color: #c7c7c7;
}

.founders__slider_active {
  height: 3px;
  background-color: #ce946b;
}

/*-----------------Advantage-----------------*/
.advantage {
  margin-bottom: 50px;
}

.advantage__titleBig {
  max-width: 1120px;
  margin: 0 auto 135px auto;
  text-align: center;
}

.advantage__item {
  max-width: 1105px;
  margin: 0 auto;
  height: 785px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage__element {
  max-width: 186px;
  align-self: flex-start;
  height: 222px;
}

.advantage__icon {
  max-width: 105px;
  max-height: 105px;
}

.advantage__semicircle {
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background: rgb(206, 148, 107);
  background: linear-gradient(
    0deg,
    rgba(206, 148, 107, 1) 0%,
    rgba(206, 148, 107, 0.753) 36%,
    rgba(206, 148, 107, 0) 100%
  );
  transform: rotate(-3deg);
}

.advantage__semicircle::before {
  position: absolute;
  content: "";
  height: 249px;
  width: 253px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
